.story {
	text-align: center;
	word-break: break-word;
	cursor: pointer;
	display: inline-block;

	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		border: 2px solid #A6328D;
		margin-bottom: 10px;
		box-sizing: content-box;
		padding: 3px;
		transition: border-color .2s ease;
		background-color: #9E9E9E;
		background-clip: content-box;
		
		&:hover {
			border-color: transparent;
		}

		img {
			object-fit: cover;
			border-radius: 50%;
		}

		&.disabled {
			border: none;
		}
	}

	&__spinner {
		width: 21px;
		height: 21px;
		animation: spin 1s linear infinite;
	}

	&__text {
		margin-bottom: 0;

		&.empty {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 8px;
			padding-bottom: 4px;
			&::after,
			&::before {
				content: "";
				background-color: #DEDEDE;
				border-radius: 4px;
				height: 13px;
			}
			&::after {
				width: 100%;
			}
			&::before {
				width: 80%;
			}
		}
	}
}
