.story {
	text-align: center;
	cursor: pointer;


	&__img {
		border-radius: 50%;
		width: 80px;
		height: 80px;
		border: 2px solid #A6328D;
		outline-offset: 6px;
		margin-bottom: 10px;
		box-sizing: content-box;
		padding: 6px;
		transition: border-color .2s ease;
		&:hover {
			border-color: transparent;
		}
	}

	&__text {
		margin-bottom: 0;
	}
}